---
import { APP_BLOG } from '~/utils/config';
import type { Post } from '~/types';

import Image from '~/components/common/Image.astro';

import { findImage } from '~/utils/images';
import { getPermalink } from '~/utils/permalinks';


export interface Props {
  post: Post;
}

const { post } = Astro.props;
console.log(post);

const image = (await findImage(post.image));
---

<article class="mb-7 transition">
  <div class="relative md:h-55 bg-gray-400 dark:bg-slate-700 rounded shadow-lg  ">
    {
      image && (
        <a href={post.permalink} target="_blank">
         
           <div class="relative mb-4 h-0 pb-[56.25%]">
        <iframe
          width="560"
          height="315"
          src= {image}
          title="YouTube video player"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture;"
          allowfullscreen
          class="absolute top-0 left-0 w-full h-full"
        >
        </iframe>
      </div>
        </a>
      )
    }
  </div>
  <h3 class="mb-3 text-xl font-bold leading-tight sm:text-xl font-heading">
    {
      !APP_BLOG?.post?.isEnabled ? (
        post.title
      ) : (
        <a
          href={post.permalink} target="_blank"
          class=" transition ease-in duration-200"
        >
          {post.title}
        </a>
      )
    }
  </h3>
  <p class="text-muted dark:text-slate-400 text-sm font-Nunito">{post.excerpt}</p>
</article>

<!-- <Image
src={image}
class="w-full md:h-full rounded shadow-lg bg-gray-400 dark:bg-slate-700"
widths={[400, 900]}
width={400}
sizes="(max-width: 900px) 400px, 900px"
alt={post.title}
aspectRatio="16:9"
layout="cover"
loading="lazy"
decoding="async"
/> -->